@model IEnumerable<String[]>

@{
    ViewBag.Title = "ReporteConsolidado";

    bool isFirst = true;
    //WebGrid grid = new WebGrid(source: Model.GetEnumerator().Current);
}

<h2>ReporteConsolidado</h2>

@using (Html.BeginForm())
{
    @*<div>
        @grid.GetHtml(tableStyle: "webgrid-table",
    headerStyle: "webgrid-header",
    footerStyle: "webgrid-footer",
    alternatingRowStyle: "webgrid-alternating-row",
    selectedRowStyle: "webgrid-selected-row",
    rowStyle: "webgrid-row-style")
    </div>*@
    
    <div id="table_wrapper">
        <table class="table">

            @foreach (var i in Model)
            {
                <tr class="webgrid-row-style">
                    @if (isFirst == false)
                    {
                        foreach (var e in i)
                        {
                            <td>@e</td>
                        }
                    }
                    else
                    {
                        isFirst = false;
                        foreach (var e in i)
                        {
                            <th class="webgrid-header">@e</th>
                        }
                    }
                </tr>

            }
        </table>
        
    </div>
}
<div>
    <button id="btnExport">Export to xls</button>
</div>
<div>
    @Html.ActionLink("Volver al Inicio", "Home/Index")
</div>


@section Scripts{
<script type="text/javascript">

    $(document).ready(function () {
        $("#btnExport").click(function (e) {
            e.preventDefault();

            //getting data from our table
            var data_type = 'data:application/vnd.ms-excel';
            var table_div = document.getElementById('table_wrapper');
            var table_html = table_div.outerHTML.replace(/ /g, '%20');

            var a = document.createElement('a');
            a.href = data_type + ', ' + table_html;
            a.download = 'exported_table_' + Math.floor((Math.random() * 9999999) + 1000000) + '.xls';
            a.click();
        });
    });

</script>
}
