@model IEnumerable<String[]>

@{
    ViewBag.Title = "ReporteConsolidado";

    bool isFirst = true;
    //WebGrid grid = new WebGrid(source: Model.GetEnumerator().Current);
}

<h2>Reporte de Consolidado</h2>

@using (Html.BeginForm())
{
    @*<div>
        @grid.GetHtml(tableStyle: "webgrid-table",
    headerStyle: "webgrid-header",
    footerStyle: "webgrid-footer",
    alternatingRowStyle: "webgrid-alternating-row",
    selectedRowStyle: "webgrid-selected-row",
    rowStyle: "webgrid-row-style")
    </div>*@
    
    <div id="table_wrapper" >
        <table id="tablaReporte" class="table">

            @foreach (var i in Model)
            {
                <tr class="webgrid-row-style">
                    @if (isFirst == false)
                    {
                        var total = 0;
                        foreach (var e in i)
                        {
                            var celda = e.AsInt(0);
                            <td class="webgrid-row-style webgrid-alternating-row" >@e</td>
                            total += celda;
                        }
                        <td class="webgrid-row-style webgrid-alternating-row">@total</td>
                    }
                    else
                    {
                        foreach (var e in i)
                        {
                            isFirst = false;
                            <td class="webgrid-header">@e</td>
                        }
                        <td class="webgrid-header">Total</td>

                    }
                </tr>

            }
        </table>
        
    </div>
}
<div class="col-md-offset-10 col-md-2" style="width: 13%">
    @*<a href="#" onClick="$('#tablaReporte').tableExport({type:'excel',escape:'false'});">Exportar a Excel (XLS)</a>*@
    <input id="btn_export" type="button" value="Exportar Excel" class="btn btn-success btn-round btn_export" />

</div>


@section Scripts{
<script type="text/javascript" src="~/Scripts/tableExport.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.base64.js"></script>
    <script type="text/javascript">
        $(document).on('click', '.btn_export', function (event) {
            $('#tablaReporte').tableExport({ type: 'excel', escape: 'false' });
        });
    </script>
}
