@model IEnumerable<String[]>

@{
    ViewBag.Title = "ReporteConsolidado";

    bool isFirst = true;
    //WebGrid grid = new WebGrid(source: Model.GetEnumerator().Current);
}

<h2>ReporteConsolidado</h2>

@using (Html.BeginForm())
{
    @*<div>
        @grid.GetHtml(tableStyle: "webgrid-table",
    headerStyle: "webgrid-header",
    footerStyle: "webgrid-footer",
    alternatingRowStyle: "webgrid-alternating-row",
    selectedRowStyle: "webgrid-selected-row",
    rowStyle: "webgrid-row-style")
    </div>*@
    
    <div id="table_wrapper">
        <table id="tablaReporte" class="table">

            @foreach (var i in Model)
            {
                <tr class="webgrid-row-style">
                    @if (isFirst == false)
                    {
                        foreach (var e in i)
                        {
                            <td>@e</td>
                        }
                    }
                    else
                    {
                        isFirst = false;
                        foreach (var e in i)
                        {
                            <th class="webgrid-header">@e</th>
                        }
                    }
                </tr>

            }
        </table>
        
    </div>
}
<div>
    @*<a href="#" onClick="$('#tablaReporte').tableExport({type:'excel',escape:'false'});">Exportar a Excel (XLS)</a>*@
    <button>Export</button>

</div>
<div>
    @Html.ActionLink("Volver al Inicio", "Home/Index")
</div>


@section Scripts{
   <script>
       $("button").click(function () {

           $("#tablaReporte").table2excel({
               // exclude CSS class
               exclude: ".noExl",
               name: "Worksheet Name",
               filename: "SomeFile" //do not include extension
           })
       });
</script>

}
