
@{
    ViewBag.Title = "Acceso Denegado ";
    Layout = "~/Views/Shared/_NewLayout.cshtml";

}
    <body>
        <div id="background">
            <div id="notfound">
                <div class="notfound">
                    <div class="notfound-404">
                        <h1>Oops!</h1>
                    </div>
                    <h2>404 - No Encontrado</h2>
                    <h3>Parece que la URL no existe</h3><br> <br><br>
                    <a href="~/Home">
                        Ir al Inicio
                    </a>
                </div>
            </div>
        </div>
    </body>
@Styles.Render("~/Content/css/DeniedStyles.css");
<link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,700" rel="stylesheet">


<br />
