<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>ec2-18-217-40-134.us-east-2.compute.amazonaws.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ec2-18-217-40-134.us-east-2.compute.amazonaws.com</MSDeployServiceURL>
    <DeployIisAppPath>ec2-18-217-40-134.us-east-2.compute.amazonaws.com</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>gonzaalvarez70@hotmail.com</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SIAH.Context.SIAHContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SIAH.Context.SIAHContext, SIAH" MigrationConfiguration="SIAH.Migrations.Configuration, SIAH" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SIAHConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=siahconnection.crndgw5hwbm1.us-east-2.rds.amazonaws.com,1433;Initial Catalog=SIAHConnection;User ID=admin;Password=siahsiah" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SIAHConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=siahconnection.crndgw5hwbm1.us-east-2.rds.amazonaws.com,1433;Initial Catalog=SIAHConnection;User ID=admin;Password=siahsiah" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SIAH.Context.SIAHContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SIAHConnection-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="SIAH.Context.SIAHContext" />
  </ItemGroup>
</Project>