@model MvcSiteMapProvider.Web.Html.Models.SiteMapPathHelperModel
@using System.Web.Mvc.Html
@using System.Linq
@using MvcSiteMapProvider.Web.Html.Models
@if (Model.Nodes.Count > 1)
{
    <div aria-label="breadcrumb">
        <ul class="siteMap breadcrumb mybc">
            @foreach (var node in Model)
            {
                <li class="breadcrumb-item hover-pointer">
                    @Html.DisplayFor(m => node)

                    @if (node != Model.Last())
                    {
                        <text></text>
                    }
                </li>
            }
        </ul>
    </div>
}