
@{
    ViewBag.Title = "Olvide mi contraseña";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { id = "forgotPasswordForm" }))
{
    <div class="banner-catalog">
        <div class="container">
            <div class="col-sm-9">
                <h1>Recuperar contraseña</h1>
                <div class="banner-catalog__content">Ingrese su cuenta registrada de SIAH para recuperar su contraseña. Se generará una contraseña nueva y se enviará a su dirección de email.</div>
            </div>
            <div class="col-lg-3">
                <div class="icon icon-info">
                    <i class="material-icons pull-right" style="font-size: 100px">person</i>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="container" style=" padding-bottom: 30px;">

        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-card form-card--purple form-card--tight animated zoomIn">
                        <div class="form-card__title  purple-header">
                            <div class="alert-icon">
                                <i class="material-icons">add</i>
                                <strong>Ingrese su cuenta de email</strong>
                            </div>
                        </div>
                        <div class="form-card__content group">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-8">
                                            <input id="email" name="email" type="email" class = "form-control" placeholder="ejemplo@gmail.com" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="submit" id="passwordRecovery" value="Confirmar" class="btn btn-round btn-success pull-right" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
