
@{
                /**/

                ViewBag.Title = "Logout";
}

<h2>Logout</h2>
@section Scripts {

    <script type="text/javascript">


        $(document).ready(function () {
            sessionStorage.clear;    }
        </script>
