@model SIAH.Models.Compras.Compra

@{
    ViewBag.Title = "Cargar compra";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
@using (Html.BeginForm("CargarCompra", "Compras", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="banner-catalog">
        <div class="container">
            <div class="col-sm-12">
                <h1>Cargar remito de compra</h1>
                <div class="banner-catalog__content">Carga de archivos de remito de compra.</div>
            </div>
        </div>
    </div>
    <br />
    <div class="container" style=" padding-bottom: 30px;">

        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-card form-card--purple form-card--tight animated zoomIn">
                        <div class="form-card__title  purple-header">
                            <div class="alert-icon">
                                <i class="material-icons">add</i>
                                <strong>Carga de archivo</strong>
                            </div>
                        </div>
                        <div class="form-card__content group">

                            <div class="row">
                                <div class="col-md-12">
                                    @Html.TextBox("file", "", new { type = "file" }) <br />

                                    <input type="submit" value="Cargar compra" class="btn btn-round btn-success pull-right" data-toggle="modal" data-target="#myModal" />

                                    @ViewBag.Message
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Html.TextBox("fechaEntregaEfectiva", DateTime.Today.ToShortDateString(), htmlAttributes: new { @class = "form-control", @value = DateTime.Today, @name = "fechaEntregaEfectiva", @id = "fecha", @type = "hidden" })

}
