@model IEnumerable<SIAH.Models.Compras.Compra>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}


@using (Html.BeginForm("Index", "Compras", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="banner-catalog">
        <div class="container">
            <div class="col-sm-12">
                <h1>Remitos de Compra Cargados</h1>
                <div class="banner-catalog__content"> Aqui Varela tiene que poner una descripcion</div>
            </div>
        </div>
    </div>
    <br />
    <div class="container" style=" padding-bottom: 30px;">

        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-card form-card--purple form-card--tight animated zoomIn">
                        <div class="form-card__title  violet-header">
                            <div class="alert-icon">
                                <i class="material-icons">storage</i>
                                <strong>Listado de los Remitos</strong>
                            </div>
                        </div>
                        <div class="form-card__content group">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class=" table table-hover table-condensed">
                                            <thead>
                                                <tr style="font-weight:bold">
                                                    <th style="width:30%; font-weight:bold ">Número de Compra</th>
                                                    <th style="width:16%; font-weight:bold">Fecha de Compra</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.id)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.fechaEntregaEfectiva)
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                        <div class=" pull-right">
                                            <input type="button" value="Cargar Nuevo Remito" class="btn btn-round btn-success" data-toggle="modal" data-target="#myModal" onclick="location='/Compras/CargarCompra'" />
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
