
@{
    ViewBag.Title = "Reportes de Inteligencia de Negocios";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<div class="banner-catalog">
    <div class="container">
        <div class="col-lg-9">
            <h1>Reportes de Inteligencia de Negocios</h1>
            <div class="banner-catalog__content">
                Aquí podrá encontrar 5 reportes que le brindarán una visión global sobre diversos aspectos de la oficina de autorizaciones hospitalarias.
                Los mismos se encuentran divididos en
                <br />
                <em>○ Informe general de pedidos</em>
                <br />
                <em>○ Informe de hospitales de Córdoba capital</em>
                <br />
                <em>○ Informe de hospitales del interior de Córdoba</em>
                <br />
                <em>○ Informe de reclamos</em>
                <br />
                <em>○ Pronósticos y proyecciones</em>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="row">
                <img class="pull-right" src="~/Content/img/power-bi-2.jpg" style="max-height:100px; max-width:200px; margin-top:20px" />
            </div>
        </div>
    </div>
</div>
<div id="page" style="min-height: 363px;">
    <div class="container" style="padding-top: 30px; padding-bottom: 30px;">
        <div class="row">
            <div class="col-lg-12">
                <iframe width="1140" height="768" src="https://app.powerbi.com/reportEmbed?reportId=f22d06de-888c-46f5-90b2-54283ea26b28&autoAuth=true&ctid=3da3fdbd-106b-4778-a05b-0a6ec0f7ca45&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXBhYXMtMS1zY3VzLXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9" frameborder="0" allowFullScreen="true"></iframe>
            </div>
        </div>
    </div>
</div>
