
@{
    ViewBag.Title = "Reportes de Inteligencia de Negocios";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<div class="banner-catalog">
    <div class="container">
        <div class="col-lg-9">
            <h1>Reportes de Inteligencia de Negocios</h1>
            <div class="banner-catalog__content">
                Aquí podrá encontrar 5 reportes que le brindarán una visión global sobre diversos aspectos de la oficina de autorizaciones hospitalarias.
                Los mismos se encuentran divididos en
                <ul>
                    <li>Informe general de pedidos</li>
                    <li>Informe de hospitales de Córdoba capital</li>
                    <li>Informe de hospitales del interior de Córdoba</li>
                    <li>Informe de reclamos</li>
                    <li>Pronósticos y proyecciones</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="row">
                <img class="pull-right" src="~/Content/img/power-bi-2.jpg" style="max-height:100px; max-width:200px; margin-top:20px" />
            </div>
        </div>
    </div>
</div>
<div id="page" style="min-height: 363px;">
    <div style="padding-top: 30px; padding-bottom: 30px; padding-left: 15em">
                <iframe width="1350" height="768" src="https://app.powerbi.com/reportEmbed?reportId=880da523-294c-4a27-bb93-6868d57237de&autoAuth=true&ctid=3da3fdbd-106b-4778-a05b-0a6ec0f7ca45&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXBhYXMtMS1zY3VzLXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9" frameborder="0" allowFullScreen="true"></iframe>
    </div>
</div>
