
@{
    ViewBag.Title = "Reportes BI";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<div class="banner-catalog">
    <div class="container">
        <div class="col-lg-9">
            <h1>Reportes BI</h1>
            <div class="banner-catalog__content">
                Aquí podrá acceder a reportes avanzados de Business Intelligence. (REVISAR DESCRIPCION)
            </div>
        </div>
        <div class="col-lg-3">
            <div class="icon icon-danger">
                <i class="material-icons pull-right" style="font-size: 100px">timeline</i>
            </div>
        </div>
    </div>
</div>
<div id="page" style="min-height: 363px;">
    <div class="container" style="padding-top: 30px; padding-bottom: 30px;">
        <div class="row">
            <h3>Dashboard General</h3>
            <iframe width="1280" height="720" src="https://app.powerbi.com/view?r=eyJrIjoiOGNkZDBmMDEtMzUxMi00OWYxLTliYjgtMWE2NTllNDJiZGM2IiwidCI6ImRjZmI2MzJhLWI4OTYtNDI4OC04NDEzLWVjOGQ5NTQxMDZlNiIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>
        </div>
        <div class="row">
            <h3>Dashboard Capital</h3>
            <iframe width="1280" height="720" src="https://app.powerbi.com/view?r=eyJrIjoiNzMyNzVjYzctNmQ1Mi00YzY0LWJmNDEtNGVkOThkOTVmMjQxIiwidCI6ImRjZmI2MzJhLWI4OTYtNDI4OC04NDEzLWVjOGQ5NTQxMDZlNiIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>
        </div>
        <div class="row">

            <h3>Dashboard Interior</h3>
            <iframe width="1280" height="1024" src="https://app.powerbi.com/view?r=eyJrIjoiY2JjZDY1ZGUtNDE2ZS00MTZlLThlYjMtYjgyZjdiNzNiYWM0IiwidCI6ImRjZmI2MzJhLWI4OTYtNDI4OC04NDEzLWVjOGQ5NTQxMDZlNiIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>
        </div>

        <div class="row">

            <h3>Dashboard Reclamos</h3>
            <iframe width="1280" height="1024" src="https://app.powerbi.com/view?r=eyJrIjoiYjQzYzk2NGMtMzhmZi00NjY5LWEyYjItMzgwMWU0MmFiNGVmIiwidCI6ImRjZmI2MzJhLWI4OTYtNDI4OC04NDEzLWVjOGQ5NTQxMDZlNiIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>
        </div>

    </div>
</div>
