@model IEnumerable<SIAH.Models.Pedidos.Pedido>
@{
    ViewBag.Title = "ReporteConsolidado";
}

<h2>ReporteConsolidado</h2>

<table class="table">
    <tr>
        <th>
            ID Insumo
        </th>
        <th>
            Insumo
        </th>

    </tr>
</table>